html {
    font-size: 14px;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    color: white;
    font-family: Chewy, sans-serif;
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
}

#content {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: 100%;
}

#nav {
    background-color: #B0FF72;
    color: white;
    font-family: Fredoka One, sans-serif;
    position: fixed;
    width: 100%;
    height: 100px;
    margin: 0;
}

#nav img, #nav h1 {
    float: left;
}

#nav a {
    float: right;
}

#footer {
    background-color: #B0FF72;
    color: white;
    font-family: Fredoka One, sans-serif;
    height: 100px;
    position: relative;
    width: 100%;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #B0FF72;
}

.button {
    background-color: #FF2EF7;
    padding: 10px;
}

img, video {
    max-width: 100%;
}

.inline {
    display: inline;
}