html {
    font-size: 100%;
    width: 100%;
}

#nav, #footer {
    background-color: #B0FF72;
    color: white;
    font-family: Fredoka One, sans-serif;

}

body {
    color: white;
    font-family: Roboto, sans-serif;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: white;
}

a:hover {
    color: B0FF72;
}

.button {
    background-color: #FF2EF7;
    padding: 10px;
}

img {
    max-width: 100%;
}